.footer {
    display: flex;
    width: 375px;
    padding: 32px 8px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    background: #F1F1F1;
}

.footer-logo {
    color: #000;
    font-size: 22px;
    font-weight: 700;
}

.footer-text {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}

.methods-contact {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.first-footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.second-footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}

@media (min-width: 768px) {

    .footer {
        padding: 32px 12px;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .first-footer-section {
        align-items: flex-start;
        align-self: stretch;
        width: 306px;
    }

    .second-footer-section {
        width: 306px;
        justify-content: space-between;
        align-items: flex-end;
        align-self: stretch;
    }

    .methods-contact {
        justify-content: end;
    }

    .footer-text {
        text-align: start;
    }
}

@media (min-width: 1368px) {
    .footer {
        padding: 64px 36px;
        gap: 684px;
    }

    .footer-logo {
        font-size: 32px;
    }

    .footer-text {
        font-size: 16px;
    }

    .first-footer-section {
        width: 306px;
    }

    .comunication {
        width: 32px;
        height: 32px;
    }

    .second-footer-section {
        width: 318px;
    }
}