header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    margin: 16px 8px 16px 8px;
}

.header-container {
    display: flex;
    margin: 16px 8px 16px 8px;
    justify-content: space-between;
    background: #FFF;
}

.header-logo-section {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.burger-menu-desktop {
    display: none;
}


.burger-menu-phone {
    display: flex;
    width: 37px;
    height: 38px;
    border-radius: 4px;
    background: #0F8277;
    border: none;
}

.search-btn {
    display: none;
}

.header-btn {
    display: flex;
    gap: 16px;
}

.log-in {
    display: flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: none;
    background-color: #FFF;
    color: #0F8277;
    text-align: center;
    font-size: 14px;
    font-weight: 700;

}

.sign-up {
    display: flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #0F8277;
    border: none;
    color: #EEE;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}

.header-list {
    display: none;
}

.want-learn {
    display: none;
}

.header-logo {
    display: flex;
    align-items: center;
    color: black;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.44px;
}

@media (min-width: 768px) {

    .header-container {
        margin-left: 12px;
        margin-right: 12px;
    }

    .header-right-section {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 32px;
    }

    .search-btn {
        display: flex;
        padding: 10px;
        justify-content: center;
        align-items: center;
        border: 1px solid #5C5C5C;
        background: #0F8277;
        border-radius: 10%;
    }
}

@media (min-width: 1368px) {
    .header-container {
        margin: 30px 36px 31px 36px;
    }

    .burger-menu-phone-tablet {
        display: none;
    }

    .header-logo {
        font-size: 32px;
    }

    .burger-menu-desktop {
        display: flex;
        padding: 10px 12px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 4px;
        background: #0F8277;
        color: #EEE;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        border: none;
    }

    .header-logo-section {
        gap: 44px;
    }

    .container-for-searching {
        display: flex;
        width: 330px;
        flex-direction: row;
        align-items: center;
        padding-left: 0px;
        justify-content: space-between;
        align-items: center;
        border-radius: 4px;
        border: 1px solid #5C5C5C;
    }

    .want-learn {
        display: flex;
        flex-direction: row;
        align-items: center;
        border: none;
        width: 330px;
        padding-left: 12px;
        color: #5C5C5C;
        font-family: Quicksand;
        font-size: 16px;
        font-weight: 500;
        line-height: 120%;
    }

    .header-list {
        font-size: 16px;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 48px;
        margin-left: 6px;

    }

    .header-list a {
        color: black;
    }

    .right-list-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 104px;
    }




}