@import url(/stepproject-1-modul/css/header.css);
@import url(/stepproject-1-modul/css/footer.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    background: #FFF;
}

a {
    text-decoration: none;
}

.wrapper {
    margin-left: 8px;
    margin-right: 8px;
}

.first-container-main {
    width: 359px;
    height: 575px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #DBF3ED;
    margin-bottom: 64px;
}

.first-section-main {
    display: flex;
    width: 100%;
    padding: 118.5px 16px 118.5px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    background-image: none;
}

.learn-comfortably {
    font-size: 46px;
    font-weight: 700;
}

.section-information {
    font-size: 18px;
    font-weight: 600;
}

.start-learning {
    display: flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 4px;
    background: #0F8277;
    border: none;
    color: #EEE;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}

.learn-more {
    display: flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 4px;
    border: 2px solid #0F8277;
    color: #0F8277;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}

.first-section-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.content-section {
    margin-bottom: 64px;
}

.content-section-2 {
    margin-bottom: 64px;
}

.description-name {
    color: #0F8277;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 12px;
}

.choose {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 12px;
}

.possibilities {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 32px;
}

.information {
    border: 1px solid #C0C0C0;
    border-radius: 12px;
    margin-bottom: 32px;
}

.image-content {
    width: 357.267px;
    height: 278px;
    flex-shrink: 0;
    border-radius: 12px;
}

.image-content-2 {
    width: 357.267px;
    height: 278px;
    flex-shrink: 0;
    border-radius: 12px;
}

.about-content {
    display: flex;
    padding: 24px 16px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;

}

.school {
    display: flex;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    margin-bottom: 16px;
}

.professions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    margin-bottom: 16px;
}

.name-school {
    font-size: 14px;
    font-weight: 500;
}

.type-content {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 32px;
}

.link-school {
    display: flex;
    align-items: center;
    gap: 12px;
}

.transition {
    color: #0F8277;
    font-size: 14px;
    font-weight: 500;
}

.look-more {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    color: #0F8277;
    font-size: 16px;
    font-weight: 700;
}

.look-more::after {
    content: '';
    display: block;
    background-image: url(/stepproject-1-modul/image/arrow.png);
    width: 20px;
    height: 20px;
}

.featured {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 32px;
}

.kinds {
    color: #0F8277;
    font-size: 14px;
    font-weight: 700;
}

.type-of-profession {
    font-size: 18px;
    font-weight: 700;
}

.quantity {
    font-size: 14px;
    font-weight: 500;
}

.kind-and-quantity {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.section-kinds-profession {
    display: flex;
    width: 375px;
    padding: 0px 8px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    margin-bottom: 64px;
}

.profession-list {
    display: flex;
    width: 168px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.first-types {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

.second-types {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

.our-cooperate {
    display: flex;
    width: 375px;
    padding: 64px 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #DBF3ED;
    margin-bottom: 64px;
}

.title-cooperate {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 32px;
}

.content-name {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 32px;
}

.universities-and-companies-first {
    display: flex;
    align-items: flex-start;
    gap: 25px;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}

.universities-and-companies-second {
    display: flex;
    align-items: flex-start;
    gap: 14px;
    align-items: center;
    justify-content: center;
}

.ideal-solutions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
}

.title {
    font-size: 30px;
    font-weight: 700;
}

.contact-sales {
    display: flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 4px;
    background: #0F8277;
    border: none;
    color: #EEE;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 120%;

}

.business-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 32px;
    margin-bottom: 64px;
}

.options {
    border: 1px solid rgb(154, 154, 154);
    padding: 10%;
    text-align: center;
}


.options:nth-child(1) {
    border-left: none;
    border-top: none;
}

.options:nth-child(2) {
    border-top: none;
}

.options:nth-child(3) {
    border-right: none;
    border-top: none;
}

.options:nth-child(4) {
    border-left: none;
}

.options:nth-child(6) {
    border-right: none;
}

.options:nth-child(7) {
    border-left: none;
    border-bottom: none;
}

.options:nth-child(8) {
    border-bottom: none;
}

.options:nth-child(9) {
    border-right: none;
    border-bottom: none;
}

.our-plans {
    display: flex;
    padding: 64px 8px 80px 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #DBF3ED;
    margin-bottom: 64px;
}

.one-program {
    display: flex;
    padding: 26px;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    border-radius: 24px;
    border: 1px solid #0F8277;
    background: #FDFDFD;
    position: relative;
    margin-bottom: 32px;
}

.one-program::after {
    content: "";
    width: 295px;
    height: 2px;
    border-radius: 80px;
    background: #0F8277;
    position: absolute;
    bottom: 127px;
}

.program-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    margin-bottom: 32px;
}

.program-type {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.program-direction {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}

.price {
    display: flex;
    width: 304px;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.money {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.month {
    font-size: 14px;
    font-weight: 500;
}

.get-started {
    display: flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 4px;
    background: #0F8277;
    color: #F6FDFF;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 32px;
}

.results-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    margin-top: 32px;
}

.results {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.green-select {
    display: flex;
    width: 16px;
    height: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 500px;
    background: #0F8277;
}

.program-result {
    font-size: 14px;
    font-weight: 500;
}

.kinds-of-plans {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
}

.middle-program {
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    border-radius: 24px;
    border: 1px solid #0F8277;
    background: #0F8277;
    position: relative;
    margin-bottom: 32px;
}

.middle-program::after {
    content: '';
    width: 295px;
    height: 1px;
    border-radius: 80px;
    background: #FFF;
    position: absolute;
    bottom: 207px;
}

.middle-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    margin-bottom: 32px;
}

.middle-type {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.middle-direction {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}

.middle-price {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.middle-money {
    color: #FFF;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.middle-month {
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
}

.middle-get-started {
    display: flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 4px;
    border: 2px solid #FFF;
    background: #0F8277;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
}

.middle-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    margin-top: 32px;
}

.middle-results {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}


.white-select {
    stroke-width: 2px;
    stroke: #0F8277;
    display: flex;
    width: 16px;
    height: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 500px;
    background: #FFF;
}

.middle-program-result {
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
}

.year-program {
    display: flex;
    padding: 26px;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    border-radius: 24px;
    border: 1px solid #0F8277;
    background: #FDFDFD;
    position: relative;
}

.year-program::after {
    content: "";
    width: 295px;
    height: 1px;
    border-radius: 80px;
    background: #0F8277;
    position: absolute;
    bottom: 175px;
}

.photos {
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    grid-column-gap: 10px;
    grid-row-gap: 21px;
    margin-bottom: 64px;
}

.photos img:nth-child(9) {
    grid-column: 2;
    grid-row: 2;
}

.photos img:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
}

.photos img:nth-child(5) {
    grid-column: 1;
    grid-row: 4;
}

.photos img:nth-child(6) {
    grid-column: 2;
    grid-row: 5;
}

.photos img:nth-child(7) {
    grid-column: 2;
    grid-row: 4;
}

.photos img:nth-child(8) {
    grid-column: 1;
    grid-row: 5;
}



.form {
    display: flex;
    width: 375px;
    padding: 64px 8px;
    flex-direction: column;
    align-items: flex-start;
    background: #DBF3ED;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    margin-top: 24px;
}

.input-text {
    font-size: 18px;
    font-weight: 600;
}

.input-container input,
.input-container textarea {
    display: flex;
    padding: 12px;
    width: 100%;
    align-items: flex-start;
    border-radius: 4px;
    border: 1px solid #0F8277;
    background: #FDFDFD;
    color: #8E8E8E;
    font-family: Quicksand;
    font-size: 14px;
    font-weight: 500;


}

.questions {
    font-size: 16px;
    font-weight: 500;
}

.btn-send {
    display: flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 4px;
    background: #0F8277;
    color: #F6FDFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    border: none;
    margin-top: 24px;
}

@media (min-width: 768px) {
    .wrapper {
        margin-left: 12px;
        margin-right: 12px;
    }

    .form {
        width: 100%;
    }

    .btn-send {
        width: 168px;
    }

    .kinds-of-plans ul {
        display: flex;
        flex-direction: row;
        gap: 24px;

    }

    .middle-program {
        width: 232px;
        height: 702px;
    }

    .one-program {
        width: 232px;
        height: 702px;
    }

    .year-program {
        width: 232px;
        height: 702px;
    }

    .year-program::after {
        bottom: 395px;
        width: 77%;
    }

    .one-program::after {
        bottom: 396px;
        width: 77%;
    }

    .results-list {
        margin-top: 52px;
    }

    .middle-program::after {
        width: 77%;
        bottom: 393px;
    }

    .get-started {
        align-self: auto;

    }

    .middle-get-started {
        align-self: auto;
    }

    .container-for-business {
        display: flex;
        gap: 24px;
        max-height: fit-content;
        margin-bottom: 64px;
    }

    .ideal-solutions {
        width: 360px;
    }

    .business-block {
        width: 360px;
        justify-content: center;
    }

    .contact-sales {
        align-self: auto;
    }

    .our-cooperate {
        width: 100%;
    }


    .logo-cooperate-companies {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
    }

    .universities-and-companies-first {
        margin-bottom: 0;
    }

    .all-types {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    .section-kinds-profession {
        width: 100%;
        gap: 40px;
        padding: 0 12px;
    }

    .content-section {
        gap: 40px;
    }

    .content-section-2 {
        gap: 40px;
    }

    .courses {
        width: 473px;
    }

    .image-content-2 {
        width: 166px;
        height: 160px;

    }

    .image-content {
        width: 230px;
        height: 180px;
    }

    .content-section li {
        width: 232px;
    }

    .content-section ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
    }

    .content-section-2 li {
        width: 168px;
    }

    .content-section-2 ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
    }

    .about-content {
        height: 222px;
        justify-content: space-between;
    }

    .first-container-main {
        width: 100%;
        background-image: url(/stepproject-1-modul/image/backgroun-image.png);
        background-repeat: no-repeat;
        background-size: 40%;
        background-position: 55vw;
    }

    .first-section-main {
        margin-left: 60px;
        width: 417px;
    }

    .first-section-container {
        flex-direction: row;
    }

    .photos {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 24px;
    }

    .photos img:nth-child(9) {
        width: 360px;
        height: 255px;
        grid-column: 2/4;
        grid-row: 1/3;
    }

    .photos img:nth-child(4) {
        width: 168px;
        height: 116px;
        grid-column: 2;
        grid-row: 3;
    }

    .photos img:nth-child(2) {
        width: 168px;
        height: 116px;
        grid-column: 1;
        grid-row: 2;
    }

    .photos img:nth-child(3) {
        width: 168px;
        height: 116px;
        grid-column: 1;
        grid-row: 3;
    }

    .photos img:nth-child(8) {
        width: 168px;
        height: 116px;
        grid-column: 4;
        grid-row: 1;
    }

    .photos img:nth-child(7) {
        width: 168px;
        height: 116px;
        grid-column: 4;
        grid-row: 2;
    }

    .photos img:nth-child(5) {
        width: 168px;
        height: 116px;
        grid-column: 3;
        grid-row: 3;
    }

    .photos img:nth-child(6) {
        width: 168px;
        height: 116px;
        grid-column: 4;
        grid-row: 3;
    }
}

@media (min-width: 1368px) {
.wrapper {
    margin-left: 36px;
    margin-right: 36px;
}

    .learn-comfortably {
        font-size: 56px;
    }

    .section-information {
        width: 482px;
        font-size: 22px;
    }

    .start-learning {
        font-size: 16px;
    }

    .learn-more {
        font-size: 16px;
    }

    .description-name {
        font-size: 20px;
    }

    .choose {
        font-size: 40px;
    }

    .possibilities {
        font-size: 20px;
    }

    .image-content {
        width: 408px;
        height: 298px;
    }

    .about-content {
        height: 210px;
    }

    .content-section li {
        width: 410px;
    }

    .name-school {
        font-size: 16px;
    }

    .type-content {
        font-size: 24px;
    }

    .transition {
        font-size: 16px;
    }

    .image-content-2 {
        width: 299px;
        height: 270px;
    }

    .content-section-2 li {
        width: 301px;
    }

    .courses {
        width: 100%;
    }

    .look-more {
        font-size: 20px;
    }

    .featured {
        font-size: 40px;
    }

    .type-of-profession {
        font-size: 24px;
    }

    .kinds {
        font-size: 20px;
    }

    .quantity {
        font-size: 16px;
    }

    .profession-list {
        width: 306px;
    }

    .content-name {
        font-size: 40px;
    }

    .logo-cooperate-companies {
        width: 1296px;
        justify-content: center;
        gap: 23px;
    }

    .title-cooperate {
        width: 871px;
        font-size: 40px;
        margin-bottom: 60px;
    }

    .universities-and-companies-first {
        gap: 35px;
    }

    .universities-and-companies-second {
        gap: 35px;
    }

    .title {
        font-size: 40px;
    }

    .container-for-business {
        width: 100%;
        height: 412px;
        justify-content: space-between;
        padding: 0 36px;

    }

    .business-block {
        width: 50%;
        height: 80%;
    }

    .our-plans {
        flex-direction: row;
    }

    .kinds-of-plans {
        align-items: center;
    }

    .content-name {
        font-size: 40px;
        margin-bottom: 40px;
    }


    .one-program {
        width: 416px;
        padding: 56px;
    }

    .one-program::after {
        width: 304px;
        bottom: 350px;
    }

    .program-type {
        font-size: 24px;
    }

    .program-direction {
        font-size: 16px;
    }

    .money {
        font-size: 40px;
    }

    .month {
        font-size: 16px;
    }

    .get-started {
        font-size: 18px;
    }

    .program-info {
        width: 304px;
        margin-bottom: 48px;
    }

    .program-result {
        font-size: 16px;
    }

    .results-list {
        width: 304px;
    }

    .middle-program {
        width: 416px;
        padding: 56px;
    }

    .middle-type {
        font-size: 24px;
    }

    .middle-direction {
        font-size: 16px;
    }

    .middle-money {
        font-size: 40px;
    }

    .middle-month {
        font-size: 16px;
    }

    .middle-get-started {
        font-size: 18px;
    }

    .middle-list {
        margin-top: 48px;
    }

    .middle-results {
        width: 304px;
    }

    .middle-program-result {
        font-size: 16px;
    }

    .middle-info {
        width: 304px;
        margin-bottom: 48px;
    }

    .middle-program::after {
        width: 304px;
        bottom: 350px;
    }

    .year-program {
        width: 416px;
        padding: 56px;
    }

    .year-program::after {
        width: 304px;
        bottom: 350px;
    }

    .our-students {
        align-items: center;
        width: 1296px;
        height: 678.5px;
        margin-bottom: 150px;
    }

    .photos img:nth-child(1) {
        width: 306px;
        height: 210.5px;
    }

    .photos img:nth-child(2) {
        width: 306px;
        height: 210.5px;
    }

    .photos img:nth-child(3) {
        width: 306px;
        height: 210.5px;
    }

    .photos img:nth-child(4) {
        width: 306px;
        height: 210.5px;
    }

    .photos img:nth-child(5) {
        width: 306px;
        height: 210.5px;
    }

    .photos img:nth-child(6) {
        width: 306px;
        height: 210.5px;
    }

    .photos img:nth-child(7) {
        width: 306px;
        height: 210.5px;
    }

    .photos img:nth-child(8) {
        width: 306px;
        height: 210.5px;
    }

    .photos img:nth-child(9) {
        width: 636px;
        height: 445px;
    }

    .form {
        padding: 80px 256px;
    }

    .questions {
        font-size: 20px;
    }

    .input-text {
        font-size: 22px;
    }

    .input-container input,
    .input-container textarea {
        font-size: 18px;
    }

    .input .btn-send {
        width: 196px;
        font-size: 18px;
    }





}